/*
.section {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.section-content {
  margin-left: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}
.product:hover {
  background-color: #f2f2f2;
}
